body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 1em;
}
.code {
    padding: 2%;
    background-color: #333333;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 1%;
}
.code p {
    margin-bottom: 10px;
}
.tab {
    margin-left: 20px;
}
.tab1 {
    margin-left: 40px;
}
.tab2 {
    margin-left: 60px;
}
.tab3 {
    margin-left: 80px;
}
.tab4 {
    margin-left: 100px;
}
.tab5 {
    margin-left: 120px;
}
.btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover {
    background-color: #45a049;
    color: white;
}
.card {
    background: #333333;
    position: sticky;
    top: 74px;
    margin: 5px;
}
img {
    width: 100%;
}
.row {
    width: 100%;
    margin-top: 1%;
}
.alert-custom {
    background-color: #20232a;
    color: #61dafb;
    border: 1px solid #61dafb;
    position: fixed;
    top: 74px;
    right: 20px;
    z-index: 1050;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alert-custom .close {
    color: #61dafb;
    font-size: 1.2rem;
    cursor: pointer;
}
.navbar {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
}
input,
select,
option {
    width: 20%;
}
.navbar {
    background-color: #343a40;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* Gaya khusus untuk layar yang lebih kecil dari 1087px */
@media only screen and (max-width: 1087px) {
    body {
        min-width: 634px;
    }

    .navbar-brand,
    .col-sm-4 {
        display: none;
    }
    .code {
        width: 100%; /* Set lebar konten menjadi 100% */
    }

    .row[class^="row"] {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        margin-right: 1%;
        width: 98%;
    }

    .col-sm-8[class^="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 1%;
        margin-right: 3%;
        z-index: 0;
    }
    .navbar {
        width: 100%;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
}

@media only screen and (max-width: 654px) {
    input,
    selec,
    option {
        width: 150px;
    }
}

/* Gaya khusus untuk layar yang lebih besar dari 1087px */
@media only screen and (min-width: 1087px) {
    .collapse,
    .navbar-toggler {
        display: none;
    }
}
